{% extends 'partials/base2.html' %}
{% load static %}

{% block content %}

{% include 'partials/menu.html' %}

<div class = 'container'>
    <h1>Despacha Pedido</h1>
    {% if mensagens %}
    {% for mensagem in mensagens %}
    <div class="alert alert-success" role="alert">
        {{mensagem}}
      </div>
    {% endfor %}
    {% endif %}
    {% if alertas %}
    {% for alerta in alertas %}
    <div class="alert alert-danger" role="alert">
        {{alerta}}
      </div>
    {% endfor %}
    {% endif %}
    <p>{{pedido}}</p>
<ul>
{% for item in itens %}
    <li>{{item.produto}} {{item.produto.marca}} {{item.quantidade_pedida}} {{item.produto.unidade.sigla}}</li>
{% endfor %}
</ul>
<form method='POST'>
    {% csrf_token %}
    <select name='despacho'>
        <option value='DEF'>Deferir</option>
        <option value='IND'>Indeferir</option>
    </select>
    <button type='submit'>OK</button>       
</div>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% include 'partials/footer.html' %}
{% endblock %}
