{% extends 'partials/base2.html' %}
{% load static %}

{% block content %}

{% include 'partials/menu.html' %}
<div class='container'>
    <div class='row'>
        <div class='col'>
            <h1> Produtos</h1>
        </div>
        <div class='col d-flex flex-row-reverse align-middle'>
            <a href={% url 'cadastro'%} class="btn btn-primary my-auto"><i class="bi bi-plus-circle mx-1"></i>Novo Produto</a>
        </div>
    </div>
    <div class='row'>
    {%for produto in produtos %}
        <div class='col-12 col-md-5 col-lg-4 col-xl-3'>
            <div class="card">
                <div style="height:250px">
                    <img src="/media/{{produto.imagem}}" alt='imagem do produto' class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    <div style="height:50px">
                        <p class="card-text">{{produto.descricao}}</p>
                    </div>
                    <p class="card-text">Estoque: {{produto.quant}} {{produto.unidade__sigla}}</p>
                    <a href="{% url 'cadastro_pedido' id=produto.id %}" class="btn btn-primary btn-sm">Solicitar</a>
                    <a href="{% url 'edita_produto' id=produto.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'cadastra_item_produto' id=produto.id %}" class="btn btn-primary btn-sm">Entrada</a>
                    <a href="{% url 'lista_itens' id=produto.id %}" class="btn btn-primary btn-sm">Listar</a>
                </div>
            </div>
        </div>
    {%endfor%}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% include 'partials/footer.html' %}
{% endblock %}