{% extends 'partials/base2.html' %}
{% load static %}

{% block content %}

{% include 'partials/menu.html' %}

<div class = 'container'>
   {% if alertas %}
      {% for alerta in alertas %}
      <div class="alert alert-danger" role="alert">
         {{alerta}}
       </div>
       {% endfor %}
   {% endif %}
   {{pedido}}

   {% for item in itens %}
   <div>{{item.produto}}</div>
   {% endfor %}
   <a href="{% url 'recebe_pedido' id=pedido.id%}?acao=receber">Receber Pedido</a>
</div>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% include 'partials/footer.html' %}
{% endblock %}