{% extends 'partials/base2.html' %}
{% load static %}

{% block content %}

<body>
    <!-- Modal1 -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Orçamento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4>Equipamentos Compras Novas</h4>
          <form>
              <div class="input-group mb-3">
                <span class="input-group-text">R$</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Recorrer meses restantes</label>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal2 -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Autorização de Despesas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="detalhes.html" method="get">
              <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="text" class="form-control" id="data" readonly="">
              </div>
              <div class="mb-3">
                <label for="justificativa" class="form-label">Justificativa</label>
                <textarea class="form-control" id="justificativa" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="valor" class="form-label">Valor</label>
                <input type="number" class="form-control" id="valor">
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="prioridade" id="prioridade1" value="urgente">
                <label class="form-check-label" for="prioridade1">
                  Urgente
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="prioridade" id="prioridade2" value="normal">
                <label class="form-check-label" for="prioridade2">
                  Normal
                </label>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
            </form>	
      </div>
    </div>
  </div>
    <!-- início principal -->
    <!-- inicio navbar -->
    {% include 'partials/menu.html' %}
    <!-- final navbar -->
    <div class="container-fluid">
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Pendentes de análises</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <a href="autorizacoes.html"><h5>Equipamentos Compras Novas</h5></a>
        </div>
      </div>
      <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Atualiza Pagamentos</li>
            </ol>
          </nav>
          <div class="vh-100 border border-dark p-3">
              <h3>Atualizar Lançamentos de Pagamentos</h3>
              <form action="testa_arquivo" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="row row-cols-auto border border-dark rounded-2 p-2 mx-1 justify-content-start align-items-center">
                  <div class="col">
                      <label class="form-label">Selecione o arquivo</label>
                      <input type="file" class="form-control" name="arquivo">
                  </div>
                  <div class="col">
                      <label class="form-label">Nome da Planilha</label>
                      <input type="text" class="form-control" name="planilha">
                  </div>
                  <div class="col">
                      <label class="form-label">Informe Coluna Data</label>
                      <input type="text" class="form-control" name="col_data">
                  </div>
                  <div class="col">
                      <label class="form-label">Informe Coluna Descrição</label>
                      <input type="text" class="form-control" name="col_descricao">
                  </div>
                  <div class="col">
                      <label class="form-label">Informe Coluna Valor</label>
                      <input type="text" class="form-control" name="col_valor">
                  </div>
                  <div class="col">
                      <label class="form-label">Informe Coluna Categoria</label>
                      <input type="text" class="form-control" name="col_categoria">
                  </div>
                  <div class="col">
                      <input type="submit" class="btn btn-primary">
                  </div>
              </div>
          </form>
          </div>
      </div>
    </div> 
      
        {% include 'partials/footer.html' %}
      
  <!-- final principal-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

{% endblock %}
  