{% extends 'partials/base.html' %}
{% load static %}

{% block title%}Lançamentos{%endblock%}

{% block content %}
  <div class="container">
    {% if lista_orcamento %}
    <!-- navbar -->
    <div class="row cartao" style="margin-top: 20px;">
      <ul class="nav justify-content-center"> 
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=1 %}">JAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=2 %}">FEV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=3 %}">MAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=4 %}">ABR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=5 %}">MAI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=6 %}">JUN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=7 %}">JUL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=8 %}">AGO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=9 %}">SET</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=10 %}">OUT</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=11 %}">NOV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" href="{% url 'exibe_lancamentos2' var1=lista_orcamento.0.indice var2=12 %}">DEZ</a>
        </li>
      </ul>    
    </div>
    <!-- navbar -->
    {% endif %}
    <div class="row">
      <div class="col">
        <h3>Orçamento</h3>
        <!-- Tabela minigraficos -->
        <div class="cartao">
          <div class="row" style="margin-top: 3px; height: 24px;">
            <div class="col-7">
              <p class="rotulo">Categoria</p>
            </div>
            <div class="col-2">
                <p class="rotulo">Uso</p>
            </div>
            <div class="col-3">
              <p class="rotulo saldo">Saldo R$</p>
            </div>
          </div>
          {% if lista_orcamento %}
          {% for item in lista_orcamento %}
          <div class="row" style="margin-top: 3px; height: 24px;">
            <div class="col-7">
              <a class="link" href="{% url 'exibe_lancamentos2' var1=item.indice var2=item.mes %}">{{item.nome}}</a>
            </div>
            <div class="col-2">
              <div class = "mini-grafico">
                <p>{{item.uso_perc}}</p>
              </div>
            </div>
            <div class="col-3">
              <p class="saldo">{{item.saldo}}</p>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <h1>Sem Lançamentos no período!</h1>
          {% endif %}
        </div>
        <!-- Tabela minigraficos -->
      </div>
      <div class="col">
        <h3>Orçado / Realizado</h3>
        <!-- Gráfico orçado/realizado -->
        <div class="cartao">
          <div style="display: none;">
            <p id="valor-orc">{{orcamento.valor_orc}}</p>
            <p id="soma">{{soma}}</p>
            <p id="nome-grafico">{{graf_nome}}</p>
          </div>
          <canvas id="grafico" style="width:100%;max-width:400px"></canvas>
        </div>
        <!-- Gráfico orçado/realizado -->
        <h3>Lançamentos</h3>
        <!-- Tabela de lancamentos -->
        <div class="tabela cartao">
          <table class="table table-dark table-striped">
            <tr>
              <th>Data</th>
              <th>Descrição</th>
              <th>Valor</th>
            </tr>
            {% for lanc in lancamentos %}
            <tr>
              <td>{{lanc.data_pagamento}}</td>
              <td>{{lanc}}</td>
              <td>R$ {{lanc.valor_pago}}</td>
            </tr>
            {% endfor %}
            <tr>
              <td></td>
              <td>Total:</td>
              <td>R$ {{soma}}</td>
            </tr>
          </table>
        </div>
        <!-- Tabela de lancamentos -->
      </div>
    </div>
    <div hidden>
      {% for l in lancamento_total_mensal%}
      <p class="total-lanc">{{l.total}}</p>
      {% endfor %}
      {% for o in orcamento_total_mensal%}
      <p class="total-orc">{{o.total}}</p>
      {% endfor %}
    </div>
    <!-- Grafico Orçamento -->
    <div class="row cartao">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <div style="display: none;">
  <input type="text" id="mes" value="{{lista_orcamento.0.mes}}">
  </div>
  <script src="{% static 'js/exibe.js'%}"></script>
    {% endblock %}