{% extends 'partials/base2.html' %}
{% load static %}

{% block content %}
{% include 'partials/menu.html' %}
<div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                    <li class="breadcrumb-item" aria-current="page">Autorizações</li>
                </ol>
            </nav>
    <h3>Autorizações de Despesas</h3>
    <div>
      <form>
        <label>
          Selecione a data:
          <input type='month' name='data' value={{data | date:"Y-m" }}>
        </label>
        <input type='submit'/>
      </form>
    </div>
    <div class="row border-dark border rounded p-1 vh-100 m-1">
        <div class="col-lg-6 col-md-12 overflow-auto">
            <h4>Aguardando despacho</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody>
                    {% for aut in page_aguardando %}
                    
                        <tr>
                            <th scope="row">{{aut.id}}</th>
                            <td><a href="{% url 'carrega_autorizacao' id=aut.id %}">{{aut.categoria}}</a></td>
                            <td>{{aut.data_criacao|date:"d/m/Y" }}</td>
                            <td>{{aut.autorizacao_status}}</td>
                            <td>{{aut.valor_autorizacao }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>    
            <div class="pagination">
              <span class="step-links">
                  {% if page_aguardando.has_previous %}
                      <a href="?data={{data | date:"Y-m-d"}}&page_agu=1">&laquo; Primeira</a>
                      <a href="?data={{data | date:"Y-m-d"}}&page_agu={{ page_aguardando.previous_page_number }}">anterior</a>
                  {% endif %}
                  <span class="current">
                      Página {{ page_aguardando.number }} de {{ page_aguardando.paginator.num_pages }}.
                  </span>
          
                  {% if page_aguardando.has_next %}
                      <a href="?data={{data | date:"Y-m-d"}}&page_agu={{ page_aguardando.next_page_number }}">Próxima</a>
                      <a href="?data={{data | date:"Y-m-d"}}&page_agu={{ page_aguardando.paginator.num_pages }}">Última &raquo;</a>
                  {% endif %}
              </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 overflow-auto">
            <h4>Despachadas</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Utilizada</th>
                  </tr>
                </thead>
                <tbody>
                    {% for aut in page_despachada %}
                  <tr>
                    <th scope="row">{{aut.id}}</th>
                    <td><a href="{% url 'detalha_autorizacao' id=aut.id %}">{{aut.categoria}}</a></td>
                    <td>{{aut.data_criacao|date:"d/m/Y" }}</td>
                    <td>{{aut.autorizacao_status}}</td>
                    <td>{{aut.valor_autorizacao }}</td>
                    {% if aut.utilizada %}
                    <td>Sim</td>
                    {% else %}
                    <td>Não</td>
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
              <span class="step-links">
                  {% if page_despachada.has_previous %}
                      <a href="?data={{data | date:"Y-m-d"}}&page_des=1">&laquo; Primeira</a>
                      <a href="?data={{data | date:"Y-m-d"}}&page_des={{ page_despachada.previous_page_number }}">anterior</a>
                  {% endif %}
                  <span class="current">
                      Página {{ page_despachada.number }} de {{ page_despachada.paginator.num_pages }}.
                  </span>
          
                  {% if page_despachada.has_next %}
                      <a href="?data={{data | date:"Y-m-d"}}&page_des={{ page_despachada.next_page_number }}">Próxima</a>
                      <a href="?data={{data | date:"Y-m-d"}}&page_des={{ page_despachada.paginator.num_pages }}">Última &raquo;</a>
                  {% endif %}
              </span>
            </div>
        </div>
    </div>
</div>
  {% include 'partials/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}