{% extends 'partials/base2.html' %}
{% load static %}

{% block content %}
{% include 'partials/menu.html' %}
<div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                    <li class="breadcrumb-item" aria-current="page">Autorizações</li>
                </ol>
            </nav>
    <h3>Autorizações de Despesas</h3>
    <div class="row border-dark border rounded p-1 vh-100 m-1">
        <div class="col-lg-6 col-md-12 overflow-auto">
            <h4>Aguardando despacho</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody>
                    {% for aut in aguardando %}
                    
                        <tr>
                            <th scope="row">{{aut.id}}</th>
                            <td><a href="{% url 'carrega_autorizacao' id=aut.id %}">{{aut.categoria}}</a></td>
                            <td>{{aut.data_criacao|date:"d/m/Y" }}</td>
                            <td>{{aut.autorizacao_status}}</td>
                            <td>{{aut.valor_autorizacao }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>    
        </div>
        <div class="col-lg-6 col-md-12 overflow-auto">
            <h4>Despachadas</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Cod</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Utilizada</th>
                  </tr>
                </thead>
                <tbody>
                    {% for aut in despachadas %}
                  <tr>
                    <th scope="row">{{aut.id}}</th>
                    <td><a href="{% url 'detalha_autorizacao' id=aut.id %}">{{aut.categoria}}</a></td>
                    <td>{{aut.data_criacao|date:"d/m/Y" }}</td>
                    <td>{{aut.autorizacao_status}}</td>
                    <td>{{aut.valor_autorizacao }}</td>
                    {% if aut.utilizada %}
                    <td>Sim</td>
                    {% else %}
                    <td>Não</td>
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
  {% include 'partials/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}