{% extends 'partials/base2.html' %}
{% load static %}

{% block content %}
<div class="container bg-secondary bg-opacity-25 p-0">

    {% include 'partials/menu.html' %}
    <!-- Modal2 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Novo Faturamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="cadastra_faturamento" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="data" class="form-label">Data</label>
                            <input type="date" class="form-control" id="data" name="data">
                        </div>
                        <div class="mb-3">
                            <label for="valor" class="form-label">Valor</label>
                            <input type="number" step="0.01" class="form-control" id="valor" name="valor">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>	
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recebimento</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row border border-dark p-3 mx-1">
            <div class="d-flex">
                <h3 class="me-auto">Resultado</h3>
                <button type="button" class="btn btn-primary my-auto ms-2 btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    <i class="bi bi-coin"></i><span class="ms-2 d-none d-lg-inline">Faturamento</span>
                </button>					
            </div>
            <div class="row border border-dark mb-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row p-3">
                        <div class="col col-auto">
                            <label class="form-label">Selecione o período</label>
                        </div>
                        <div class="col col-md-4">
                            <input type="month" class="form-control" name="data_sel" value="{{data_selecionada}}">
                        </div>
                        <div class="col">
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row p-0">
                <div class="col border border-dark mb-3 me-1">
                    <table class="table table-striped tabela-resultado">
                        <thead>
                          <tr>
                            <th scope="col">Mês</th>
                            <th scope="col">Receitas</th>
                            <th scope="col">Desembolsos</th>
                            <th scope="col">Resultado</th>
                            <th scope="col">Saldo</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Jan</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Fev</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Mar</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Abr</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Mai</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Jun</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Jul</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Ago</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Set</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Out</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Nov</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Dez</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="col border border-dark mb-3 ms-1">
                    <canvas id="faturamento-anual" width="100" height="50"></canvas>
                </div>
            </div>
            <div class="row border border-dark">
                <canvas id="faturamento-diario" width="400" height="100"></canvas>
            </div>
            <div class="row border border-dark">
                {% for fat in faturamentos %}
                <form action="atualiza_faturamento/{{fat.id}}" method="POST">
                    {% csrf_token %}
                    <div class="row g-3 p-2">
                        <div class="col">
                            <input type="date" class="form-control fat-data" value="{{fat.faturamento_data}}" aria-label="City" name="data" readonly>
                        </div>
                        <div class="col">
                            <input type="number" step="0.01" class="form-control fat-valor" value="{{fat.faturamento_valor}}" aria-label="State" name="valor" readonly>
                        </div>
                        <div class="col">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-success" onclick="habilitaEdicao(this)">Editar</button>
                                <button type="button" class="btn btn-danger" onclick="excluir(this)" value="{%url 'exclui_faturamento' id=fat.id %}">Excluir</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'partials/footer.html' %}
    <!-- final principal-->
</div>
<div class="d-none">
    {% for f in fat_dia %}
    <div class="fat-dia">
        <span>{{f.faturamento_data__day}}</span>
        <span>{{f.total}}</span>
    </div>
    {% endfor %}

    {% for f in fat_mes %}
    <div class="fat-mes">
        <span>{{f.faturamento_data__month}}</span>
        <span>{{f.total}}</span>
    </div>
    {% endfor %}

    {% for p in pag_dia %}
    <div class="pag-dia">
        <span>{{p.data_pagamento__day}}</span>
        <span>{{p.total}}</span>
    </div>
    {% endfor %}

    {% for p in pag_mes %}
    <div class="pag-mes">
        <span>{{p.data_pagamento__month}}</span>
        <span>{{p.total}}</span>
    </div>
    {% endfor %}    
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/recebimento.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}
