{% extends 'base2.html' %}
{% load static %}

{% block content %}

<div class="container bg-secondary bg-opacity-25 p-0">
    {% include 'partials/menu.html' %}

    <div class="px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
                <li class="breadcrumb-item active" aria-current="page">Usuários</li>
                <li class="breadcrumb-item" aria-current="page">Cadastro</li>
            </ol>
        </nav>
    </div>
<div class="p-3">
    <div class="p-3 border border-dark rounded">
        <div class="w-50 mx-auto">
            
            <div class="mb-3">
                <h2>Editar Usuário</h2>
            </div>
            {% if sucesso %}
            <div class="alert alert-success" role="alert">
                {{sucesso.0}}
            </div>
        {% endif %}
        {% if erros %}
        {% for erro in erros%}
        <div class="alert alert-danger" role="alert">
            {{erro}}
        </div>
        {% endfor %}
        {% endif %}
        <form action="{% url 'edita_usuario' id=usuario.id %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="username" class="col-sm-2 col-form-label">Login</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="username" id="username" value="{{usuario.username}}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label for="first_name" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="first_name" id="first_name" value="{{usuario.first_name}}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="last_name" class="col-sm-2 col-form-label">Sobrenome</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="last_name" id="last_name" value="{{usuario.last_name}}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-10">
                    <input class="form-control" type="email" name="email" id="email" value="{{usuario.email}}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="groups" class="col-sm-2 col-form-label">Grupo</label>
                <div class="col-sm-10">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="grupos" id="groups" multiple size="5">
                        {% for g in grupos %}
                        <option value="{{g.id}}">{{g}}</option>
                        {% endfor %}
                      </select>
                      <a href="{% url 'cria_grupo' %}">Novo Grupo</a>
                </div>
            </div>
            <div class="row mb-3">
                <label for="user_permissions" class="col-sm-2 col-form-label">Permissões</label>
                <div class="col-sm-10">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="user_permissions" id="
                    user_permissions" multiple size="5">
                        {% for p in permissoes %}
                        <option value="{{p.id}}">{{p}}</option>
                        {% endfor %}
                    </select>
                    <p>Para selecionar várias permissões pressione ctrl ou shift.</p>
                </div>
            </div>
            <div class="form-check form-switch">
                {% if usuario.is_staff %}
                <input class="form-check-input" type="checkbox" role="switch" id="is_staff" name="is_staff" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" role="switch" id="is_staff" name="is_staff">
                {% endif %}
                <label class="form-check-label" for="is_staff">Administrador</label>
            </div>
            <div class="form-check form-switch">
                {% if usuario.is_active %}
                <input class="form-check-input" type="checkbox" role="switch" id="is_active" name="is_active" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" role="switch" id="is_active" name="is_active">
                {% endif %}
                <label class="form-check-label" for="is_active">Ativo</label>
            </div>
            <div class="row mb-3">
                <label for="last_login" class="col-sm-3 col-form-label">Último Acesso</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="last_login" id="last_login" value="{{usuario.last_login}}" disabled>
                </div>
            </div>
            <div class="row mb-3">
                <label for="date_joined" class="col-sm-3 col-form-label">Criado em:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="date_joined" id="date_joined" value="{{usuario.date_joined}}" disabled>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    </div>
</div>
    {% include 'partials/footer.html' %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}
